* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    font-family: 'Josefin Slab', serif;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background:#b1cbbb;
}
body {
    background: #fff;
}
section {
    padding: 20px 6%;
}
.heading {
    color: black;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 30px;
    font-size: 40px;
}
.flash-message {
    color: #b0171f;
    font-weight: bold;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    font-size: 24px;
}
.button {
    display: inline-block;
    color: #fff;
    background: #ad6059;
    padding: 12px 40px;
    font-size: 24px;
    cursor: pointer;
}
.button:hover {
    letter-spacing: 3px;
}

/*-- Header bar --*/
.header {
    display: flex;
    padding: 16px 2% ;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #30573f;
    border-bottom: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header .logo {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.header .logo img {
    width: 40px;
}
.header nav .navbar a {
    color: #fff;
    margin: 0 16px;
    font-size: 24px;
}
.header nav .navbar a.active {
    background:#c94c4c;
    color: #fff;
}
.header nav .navbar a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}

/*-- Homepage --*/
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .main-text {
    padding: 16px 20px;
}
.home .main-text .btn1 {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    background-color: #aeb2dc;
    padding: 16px 24px;
}
.home .main-text .btn2 {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    background-color: #d33559;
    padding: 16px 24px;
}

/*-- List of movies --*/
.all-movies .box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.all-movies .box-container .row {
    width: 100%;
}
.all-movies .box-container .box {
    display: flex;
    padding: 10px;
    width: 100%;
    border: 6px solid #826fa6;
    border-radius: 8px;
    box-sizing: border-box;
}
.all-movies .box-container .box img {
    height: auto;
    max-width: 40%;
    margin-right: 20px;
}
.all-movies .box-container .box .movie-details h3 {
    color: black;
    margin-top: 10px;
    font-size: 40px;
}
.all-movies .box-container .box .movie-details p {
    color: black;
    margin-top: 10px;
    font-size: 24px;
}
.all-movies .box-container .box .movie-details button {
    background-color: #85afb2;
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
    padding: 12px 20px;
    cursor: pointer;
}
.all-movies .box-container .box .movie-details textarea {
    background-color: #85afb2;
    border-color: #30573f;
    margin-top: 10px;
    font-size: 24px;
    color: black;
    padding: 12px 20px;
    cursor: pointer;
}
.all-movies .box-container .box .movie-details .like {
    color: red;
    margin-top: 10px;
    font-size: 24px;
}
.all-movies .box-container .box .movie-details .like:hover {
    color: #30573f;
    margin-top: 10px;
    font-size: 24px;
}

/*-- For forms: sign-up, login, add-review --*/
.login-form .row {
    display: flex;
    flex-wrap: wrap;
    gap : 16px;
    align-items: center;
    justify-content: center;
}
.login-form .row form {
    padding: 10px 32px;
    text-align: center;
}
.login-form .row .label {
    font-size: 24px;
    text-align: left;
}
.login-form .row form .input-box {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    background: #c2a086;
    border: 1px solid black;
}
.login-form .row form .input-box input {
    width: 100%;
    padding: 32px;
    font-size: 24px;
    color: black;
    background: none;
}

/*-- To fit into different screen size --*/
@media (max-width: 900px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 24px 32px;
    }
    .section {
        padding: 32px;
    }
}
@media (max-width: 768px) {
    
    .header .main-text {
        font-size: 20px;
    }
    .header nav .navbar {
        position: absolute;
        height: 100vh;
        width: 480px;
        top: 100%;
        right: -100%;
        background-color: #deb887;
    }
    .header nav .navbar a {
        color: #fff;
        display: block;
        margin: 24px;
        padding: 8px;
        font-size: 30px;
    }
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
}