
<!-- add a review page -->
{% extends 'base.html' %}

{% block content %}

    <!-- section starts--> 
    <section class="login-form">
            <h1 class="heading">Add a Review</h1>
            
            <!-- create a form to accept user reviews -->
            <div class="row">        
                <form method="POST">
                    <label class="label" for="movie-name">Movie Title</label>
                    <div class="input-box">
                        <input type="text" id="movie-name" name="movie-name" placeholder="Movie title is ...">
                    </div>

                    <label class="label" for="review">Your Review</label>
                    <div class="input-box">
                        <input type="text" name="review" id="review" placeholder="Type here...">
                    </div>
                    <button type="submit" class="button">Add a Review</button>
                </form>
            </div>
    </section>
    <!-- section ends -->

{% endblock %}