<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/style.css" rel="stylesheet" type="text/css"/>
        <script src="../static/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Cardo&family=Courgette&family=Hubballi&family=Josefin+Slab:ital,wght@0,400;0,700;1,200&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico"><!-- source: https://www.favicon.cc/ -->
        <title>Ghibli Planet</title>
    </head>
    <body>

        <!-- header section starts -->
        <header class="header">
            <a class="logo" href="/"><img src="../static/images/logo-icon.png" alt="The webpage logo">Ghibli Planet</a>
            <nav>
                <div class="navbar" id="navbar"> <!-- main navigation bar -->
                        <a href="/">Home</a>

                        <!-- check if user has logged in to reveal full content -->
                        {% if current_user.is_authenticated %}
                            <a href="/favorites">Favorites</a>
                            <a href="/add-review">Add Review</a>
                            <a href="/reviews">Reviews</a>
                            <a href="/logout">Logout</a>
                        {% else %}
                            <a href="/login">Login</a>
                            <a href="/sign-up">Sign up</a>
                        {% endif %}
                </div>
            </nav>
        </header>
        <!-- header section ends-->

        <!-- display error/success messages -->
        <div class="flash-message">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                            {{ message }}
                    {% else %}
                            {{ message }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>    

        <!-- page content section -->
        {% block content %}{% endblock %}

    </body>
</html>