
<!-- all favorite movies page -->
{% extends 'base.html' %}

{% block content %}

    <!-- section starts-->
    <section class="all-movies">
        <div class="box-container">
            <h1 class="heading">Your Favorite Movies</h1>
            
        </div>
    </section>
    <!-- section ends -->

{% endblock %}