
<!-- homepage -->
{% extends 'base.html' %}

{% block content %}

    <!-- section starts-->
    <section class="home">
        <div class="main-text">

            <!-- populate database and show all movies -->
            <a class="btn1" href="/add-movie">Explore all Movies</a>

            <!-- delete all display movies -->
            <a class="btn2" href="/delete-movie">Delete all Movies</a>

        </div>
    </section>
    <!-- section ends -->
        
    <!-- section starts-->
    <section class="all-movies">
        <div class="box-container">
            <h1 class="heading">Explore all Movies</h1>
            {% for movie in movies %}
            <div class="row">
                <div class="box">
                    <img src="{{ movie.cover }}" alt="Cover page for movie {{ movie.title }}">  <!-- source: https://www.pinterest.com/ -->
                    
                    <div class="movie-details">
                        <h3>{{ movie.title }}</h3>
                        <p>Year: {{ movie.year }}<p>
                        <a class="like" id="{{ movie.id }}">
                            <i class="fa fa-heart" id="heart"></i><span id="slike">  {{ movie.like }}</span></a>
                        <form method="POST">
                            <textarea name="review" id="review" placeholder="Type here..."></textarea>
                            <br />
                            <button type="submit" class="btn btn-primary">Add a Review</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- section ends -->

{% endblock %}