
<!-- login page -->
{% extends 'base.html' %}

{% block content %}

    <!-- section starts -->
    <section class="login-form">
        <div class="row">

            <!-- create a form for user to login to their account -->
            <form method="post" action="">
                <h1 class="heading">Login</h1>

                <label class="label" for="username">Username</label>
                <div class="input-box">
                    <input type="text" id="username" name="username" placeholder="Your username">
                </div>

                <label class="label" for="password">Password</label>
                <div class="input-box">   
                    <input type="password" id="password" name="password" placeholder="Your password">
                </div>

                <button type="submit" class="button">Login</button>
            </form> 
        </div>
    </section>
    <!-- section ends -->

{% endblock %}