
{% extends 'base.html' %}
{% block content %}

    <!-- show list of all incomes -->
    <section class="transactions">
        <h1 class="heading">Discover Mangas</h1>

        <div class="box-container">
            {% for manga in mangas %}
                <div class="box">
                    
                    <h3>{{ manga.title }}</h3>

                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}