
<!-- all reviews page -->
{% extends 'base.html' %}

{% block content %}

    <!-- section starts-->
    <section class="all-movies">
        <div class="box-container">
            <h1 class="heading">Your Reviews</h1>
            {% if reviews %}
                {% for review in reviews %}
                <div class="row">
                    <div class="box">
                        <div class="movie-details">
                            <h3>{{ review.movie.title }}</h3>
                            <p>{{ review.content }}</p>
                            <p>At: {{ review.date }}<p>
                            <button class="delete-button" data-review-id="{{ review.id }}">Delete</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            <!-- display message if there is no review -->
            {% else %}
            <div class="row">
                <div class="box">
                    <div class="movie-details">
                        <h3>You don't have any Reviews yet!</h3>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <!-- section ends -->

{% endblock %}