
<!-- sign up page -->
{% extends 'base.html' %}

{% block content %}

    <!-- section starts -->
    <section class="login-form">
        <div class="row">

            <!-- create a form for user to sign up for new account -->
            <form method="post" action="">
                <h1 class="heading">Sign Up</h1>

                <label class="label" for="username">Username</label>
                <div class="input-box">
                    <input type="text" id="username" name="username" placeholder="Enter your username">
                </div>

                <label class="label" for="password1">Password</label>
                <div class="input-box">   
                    <input type="password" id="password1" name="password1" placeholder="Enter your password">
                </div>

                <label class="label" for="password2">Confirm password</label>
                <div class="input-box">   
                    <input type="password" id="password2" name="password2" placeholder="Confirm your password">
                </div>

                <button type="submit" class="button">Create</button>
            </form> 
        </div>
    </section>
    <!-- section ends -->

{% endblock %}